/* Resetare CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/* Poziționare div profil-citat */

.profil-citat {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10rem;
}

/*Centrarea cu flexbox div html, body*/

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
}
html, body {
  line-height: 1.5;
}

.citat, .autor {
  width: 100%;
  margin: 0 auto;
  text-align: center;

}

.citat {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem;
 }

.autor {
  font-size: 25px;
  
}

/*Adaugare imagine de fundal centrata acopera integral*/
body {
  background: url('../simple-quote-page/assets/freedom.jpg') no-repeat center center fixed;
  background-size: cover;
}

 p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}